.form-design1 .pt15 {
    padding-top: 0;
    margin-right: -20px;
}


.thank-you-article {
	

	.thanks-left-img{
		overflow: visible;
	}
	
	&.part2 {
		.thanks-right-div{
		    
		margin-top: -30%; 
		 
	}
	}
	
	.thanks-right-div{
		    
		margin-top: -30%; 
		h2{
			font-size: 20px;
		}
	}
}